
// -- Website Colors ( for text and bg ) --------------
$boldGreen: #009F9D;
$tooPaleGreen: rgba(40, 253, 250, 0.03);
$paleGreen: #C4D82E;
$boldGray: #4A4A4A;
$paleGray: #9B9B9B;
$tooPaleGray: #D7D7D7;
$white: #FFFFFF;
$error: #FF5D5D;

// -- Website Fonts ---------------
$MainFontNormal: 'IranSansNormal', Tahoma;
$MainFontBold: 'IranSansBold', Tahoma;
$MainFontMedium: 'IranSansMedium', Tahoma;
$MainFontLight: 'IranSansLight', Tahoma;
$MainFontUltraLight: 'IranSansUltraLight', Tahoma;
